@tailwind base;
html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px;
}
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  font-family: Roboto;
  -webkit-font-smoothing: antialiased
}

.gd-carousel-wrapper {
  position:relative;

}

.gd-carousel {
  position:unset;

  .react-multiple-carousel__arrow {
      position:absolute;
  }

  .react-multiple-carousel__arrow--left {
      left: calc(-3% + 1px)
  }

  .react-multiple-carousel__arrow--right {
      right: calc(-3% + 1px)
  }
}

@layer utilities {
  .clip-image {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 calc(100% - 6vw));
  }

  .nav {
    @apply relative duration-700  transition-all
  }

  .nav:hover {
    @apply text-purple-900
  }

  .nav::after {
    @apply content-[''] bg-purple-900 h-[2px] w-[0%] left-0 -bottom-2
    rounded-xl absolute duration-700  transition-all ease-in-out  
  }

  .nav:hover::after {
    @apply content-[''] bg-purple-900 h-[2px] w-[100%] left-0 -bottom-2
    rounded-xl absolute
  }
}